$black: #000000;
$white: #ffffff;
$lightBlue: #0066FF;
$transBlue: #E2E8F0;
$muted: #89919D;
$lightOrange: #FFF7E9;
$sidebar-width: 285px;
$textBlack: #0F1A2A;
$all-transition: all 0.5s ease;
$amber: #F8A912;
$primary: #2563EB;


// CUSTOM THEME
$theme-colors: (
  "white": $white,
  "muted": $muted,
  "lightBlue": $lightBlue,
  "transBlue": $transBlue,
  "lightOrange":$lightOrange,
  "amber": $amber,
  "primary": $primary
);


// Grid breakpoints
$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1440px
) !default;


// Grid containers
$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1200px
) !default;

