#main {
  margin-left: $sidebar-width;
  height: 100vh;
  overflow: auto;
  background-color: #F4F6F8;
  transition: $all-transition;
  &.main-toggled{
    // margin-left: $sidebar-width;
  }
  @media (min-width: 1px) and (max-width: #{map-get($grid-breakpoints, 'lg') - .02px}) {
    // Sidebar default state (on mobile)
    margin-left: 0;
  }
  .page-header{
    font-size: 36px;
    line-height: 42px;
    
    color: #0C1014;
    
  }
}

.btn{
  border-radius: 8px !important;
}
/* Navbar Hamburger animation */

#hamburger-icon {
  width: 30px;
  height: 35px;
  position: relative;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .5s ease-in-out;
  -moz-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  cursor: pointer;
  display: none;
  @media (min-width: 1px) and (max-width: #{map-get($grid-breakpoints, 'lg') - .02px}) {
    display: block;
  }
}