.dropdown{
    .dropdown-menu{
        border: none !important;
        border-radius: 10px !important;
        font-style: normal;
        font-weight: 500;
        font-size: 13px;
        line-height: 150%;
        color: #343C49;
    }
}